<header class="page-title">
    <div class="wrapper">
        <h1>Welcome to Purchaser</h1>
    </div>
</header>
<div class="wrapper">
    <div class="app-info">
        <p>Purchaser is an app that allows users in a small business environment to create, approve, and manage purchase orders.</p>
        <p>Small businesses often struggle with purchasing, and this app enables users to see at-a-glance items that have been requested, and the status of those items as they move through the purchasing process.</p>
        <p>There are two user roles in the system.  <b>Basic users</b> can create purchase orders, and can view and manage their own purchase orders.  <b>Approvers</b> have the same permissions as Basic users, plus they can view and approve or deny purchase orders created by any user.</p>        
        <p>Enter any of the email addresses below to log into the system as that user.  Multiple basic user accounts have been provided to demonstrate that basic users can only view and manage their own requests.</p>
    </div>
    <div class="demo-user-info">
        <div class="basic-users">
            <h2 class="user-list-heading">To log in as a <b>Basic User:</b></h2>
            <ul class="basic-user-list">
                <li>basic1@testapp.test</li>
                <li>basic2@testapp.test</li>
                <li>basic3@testapp.test</li>
                <li>basic4@testapp.test</li>
            </ul>
        </div>
        <div class="approver-users">
            <h2 class="user-list-heading">To log in as an <b>Approver:</b></h2>
            <ul class="approver-list">
                <li>approver1@testapp.test</li>
            </ul>
        </div>
    </div>
    <form action="/login" method="post" class="login-form">

        <label for="email" class="login-label">Enter an email address to log in:<br>
            <input type="email" name="email" id="email">
        </label>
        <button type="submit" class="login-button">Log In</button>
    </form>
</div>
<script type='text/javascript'>
    const pageContext = 'loginPage';
</script>
