<header class="page-title">
    <div class="wrapper">
        <h1>Log In</h1>
    </div>
</header>

<div class="wrapper">
    <div class="demo-user-info">
        <div class="basic-users">
            <h2>To log in as a <b>Basic User:</b></h2>
            <ul class="basic-user-list">
                <li>basic1@testapp.test</li>
                <li>basic2@testapp.test</li>
                <li>basic3@testapp.test</li>
                <li>basic4@testapp.test</li>
            </ul>
        </div>
        <div class="approver-users">
            <h2>To log in as an <b>Approver:</b></h2>
            <ul class="approver-list">
                <li>approver1@testapp.test</li>
            </ul>
        </div>
    </div>
    <form action="/login" method="post" class="login-form">

        <label for="email" class="login-label">Enter an email address to log in:<br>
            <input type="email" name="email" id="email">
        </label>
        <button type="submit" class="login-button">Log In</button>
    </form>
</div>
<script type='text/javascript'>
    const pageContext = 'loginPage';
</script>
