{{>page/header}}
<h1>Request Dashboard Page</h1>
<form action="#">
    <button type="submit" data-button="newRequest">New Request</button>
</form>
{{#if data}}

    <table class="request-listing">
        <tr>
            <th>Request #</th>
            <th>Date</th>
            <th>Status</th>
            <th>Submitter</th>
            <th></th>
        </tr>
        {{#each data}} {{>request/requestTableRow this}} {{/each}}
    </table>
{{else}}
<p>no data received</p>
{{/if}}
