{{>page/header}}
<header class="page-title">
    <div class="wrapper flex-horz-wrap justify-between dashboard-header">
        <h1 class="dashboard-title">
            Dashboard
        </h1>
        <div class="dashboard-actions">
            <p class="dashboard-toggle create-form-toggle-open" data-clickable="toggleNewRequestForm"><i class="material-icons"
                    data-clickable="toggleNewRequestForm">add</i><span class="toggle-explainer" data-clickable="toggleNewRequestForm">New
                    Request</span></p>
            <p class="dashboard-toggle filter-form-toggle-open" data-clickable="toggleFilterForm"><i class="material-icons"
                    data-clickable="toggleFilterForm">filter_list</i><span class="toggle-explainer" data-clickable="toggleFilterForm">Filter
                    Requests</span></p>
        </div>
    </div>
</header>
<div class="request-form-wrapper wrapper hidden">
    {{>dashboard/newRequestForm vendorList}}
</div>

<div class="dashboard-container wrapper">
    <div class="filter-panel">
    </div>
    {{>page/loadingSpinner}}
    <div class="request-grid-container"></div>
</div>
<script type='text/javascript'>
    const pageContext = 'requestDashboard';
    const userData = {{{ json user }}};
</script>
