{{>page/header}}
<h1>Request Dashboard Page</h1>
<form action="/requests/new" method="post">
    <label for="vendorName">Create a new Purchase Request for Vendor: <input type="text" name="vendorName" id="vendorName" required></label><button type="submit">Create Request</button>
</form>
{{#if data}}

    <table class="request-listing">
        <tr>
            <th>Request #</th>
            <th>Date</th>
            <th>Status</th>
            <th>Submitter</th>
            <th></th>
        </tr>
        {{#each data}} {{>request/requestTableRow this}} {{/each}}
    </table>
{{else}}
<p>no data received</p>
{{/if}}
