// _colorVars.scss
// Request Card Color Variables
$createdDark: #4A148C;
$createdPale: #E1BEE7;
$createdMedium: #ce93d8;
$createdExtraPale: #F3E5F5;
$submittedDark: #01579B;
$submittedPale: #B3E5FC;
$submittedMedium: #29B6F6;
$submittedExtraPale: #E1F5FE;
$approvedDark: #1B5E20;
$approvedPale: #C8E6C9;
$approvedMedium: #66BB6A;
$approvedExtraPale: #E8F5E9;
$orderedDark: #1A237E;
$orderedPale: #C5CAE9;
$orderedMedium: #9fa8da;
$orderedExtraPale: #E8EAF6;
$completeDark: #212121;
$completePale: #F5F5F5;
$completeMedium: #BDBDBD;
$completeExtraPale: #FAFAFA;
$deniedDark: #3d1410;
$deniedPale: #ffcdd2;
$deniedMedium: #ef5350;
$deniedExtraPale: #ffebee;
// Other color variables
$primaryColor: #512da8;
$primaryLight: #b39ddb;
$primaryDark: #311b92;
$secondaryColor: #9575cd;
$secondaryLight: #c7a4ff;
$secondaryDark: #65499c;
$offWhite: #f5f5f5;