// generic styles
@import 'reset';
@import 'typography';
@import 'links';
@import 'colorVars';
@import 'flexboxDefaults';
// shared component styles
@import 'shared/pageHeader';
@import 'shared/pageTitle';
// login page-specific styles
@import 'login/loginForm';
// detail page-specific styles
@import 'detail/pageNav';
@import 'detail/requestDetail';
@import 'detail/addItemForm';
// dashboard page-specific styles
@import 'dashboard/loadingSpinner';
@import 'dashboard/requestGrid';
@import 'dashboard/requestSummary';
@import 'dashboard/filterPanel';
@import 'dashboard/newRequestForm';
@import 'dashboard/requestDashboard';
// media queries
@import 'mediaQueries/LT890px';
@import 'mediaQueries/LT850px';
@import 'mediaQueries/LT630px';
@import 'mediaQueries/LT600px';
@import 'mediaQueries/LT475px';
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    min-height: 25px;
    background-color: $primaryColor;
}

.wrapper {
    max-width: 1010px;
    margin: 0 auto;
    padding: 15px;
}

.hidden {
    display: none;
}