@import 'reset';
@import 'typography';
@import 'links';
@import 'colorVars';
@import 'flexboxDefaults';
@import 'loadingSpinner';
@import 'pageHeader';
@import 'pageTitle';
@import 'loginForm';
@import 'pageNav';
@import 'requestDetail';
@import 'addItemForm';
@import 'requestGrid';
@import 'requestSummary';
@import 'filterPanel';
@import 'newRequestForm';
@import 'requestDashboard';
// media queries
@import 'LT890px';
@import 'LT850px';
@import 'LT630px';
@import 'LT600px';
@import 'LT475px';
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    min-height: 25px;
    background-color: $primaryColor;
}

.wrapper {
    max-width: 1010px;
    margin: 0 auto;
    padding: 15px;
}

.hidden {
    display: none;
}