<form action="/requests/new" method="post" class="new-request-form flex-col-wrap hidden" id="new-request-form">
    <i class="material-icons create-form-toggle-close" data-clickable="toggleNewRequestForm">close</i>
    <p class="create-instructions" id="create-instructions">Select a Vendor to create a new request:</p>
    <select name="vendorSelector" id="vendor-selector" class="vendor-selector" required aria-labelledby="create-instructions">
        <option value="">Select a vendor...</option>
        {{#each this.vendors}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        <option value="">----------</option>
        <option value="create-new-vendor">Create New Vendor</option>
    </select>
    <input type="text" name="vendorName" id="vendorName" class="hidden vendor-name" placeholder="Enter vendor name...">
    <button type="submit" class="btn btn-submit btn-create"><i class="material-icons">create</i>Create Request</button>
</form>
